<script src="__PUBLIC__/static/js/allselect.js" type="text/javascript"></script>
<script src="__PUBLIC__/static/js/rolejs.js" type="text/javascript"></script>
<script src="__PUBLIC__/static/js/art_dialog.source.js" type="text/javascript"></script>
<link href="__PUBLIC__/static/css/default1.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/static/css/system.css" rel="stylesheet" type="text/css">
<style type="text/css">
  .mod-table-main .style0line td input {
    margin: 3px 0 5px 5px;
  }

  .overflow table td {
    border-bottom: 1px solid #ccc;
  }

  table {
    width: 100%;
  }

  .tr-Current ul {
    clear: both;
  }

  .tr-Current ul li {
    float: left;
  }

  .star {
    color: red;
    margin-right: 10px;
  }
</style>
