<!-- 左边菜单的加载 -->
<!-- <div class="LEFT">
  <div id="accordion2" class="accordion leftmenu">
    <div class="accordion-group">
      <div class="sidebarX">
        <img src="__PUBLIC__/static/picture/admin_left_logo.png" />
        <h2>首页</h2>
      </div>
      <div class="accordion-body collapse in" id="collapseOne">
        <ul class="nav nav-pills nav-stacked" id="left_menu-small">
          <li class="active">
            <h1></h1><a href="http://tp.23673.com/admin/index/index">欢迎页</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->

<!-- 左边菜单的加载 -->
<div class="LEFT">
  <div id="accordion2" class="accordion leftmenu">
    <div class="accordion-group">
      <div class="sidebarX">
        <img src="__ADMIN__/static/picture/admin_left_logo.png" />
        <h2>商品</h2>
      </div>
      <div class="accordion-body collapse in" id="collapseOne">
        <ul class="nav nav-pills nav-stacked" id="left_menu-small">
          {volist name="module_root_secode" id="root_array"}
          <li
                  {if ($root_array['module_id'] == $module_id)}
          class="active"
          {/if}
          >
          <a href={:url($root_array['module']."/".$root_array['url'])}>{$root_array['module_name']}</a></li>
          {/volist}
        </ul>
      </div>
    </div>
  </div>
</div>
